body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(#315e8a, #9bbcdb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background-color: white;
    color: #315e8a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

input[type="number"], select, button {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #315e8a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #9bbcdb;
    color: #315e8a;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}


